body, html {
    overflow: hidden;
}

a:hover {
    text-decoration: none;
}

#close {
    position: fixed;
    color: var(--teal);
    color: rgba(255, 255, 255, 0.6);
    display: none;
    padding: .5rem 1rem;
    top: 1rem;
    right: 1.5rem;
    z-index: 1031;
}

#close:hover {
    color: #fff;
}

#option-hovered {
    position: fixed;
    bottom: 5rem;
    right: 1.5rem;

    z-index: 900;
}

.options-container {
    position: fixed;
    right: 3.5rem;
    top: 50vh;
    transform: translateY(-50%);
    z-index: 900;
    transition: opacity 1s ease;
    text-align: right;
}

.options-container a {
    color: var(--teal);
    color: rgba(255, 255, 255, 0.3);
}

.options-container .active {
    color: white;
}

.option {
    display: block;
    line-height: 3rem;
}

.option a, {
    display: inline-block;
}

.seperator {
    display: block;
    width: 2rem;
    height: 1px;
    background-color: var(--teal);
    float: right;
}

.case {
    position: relative;
    width: 100%;
    height: 100vh;
}

.case-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    background-color: #141516;
}

.case-right {
    position: absolute;
    top: 20vh;
    left: 0;
    width: 100%;
    height: 60vh;
    background-color: #141516;
    transition: all 0.7s ease;
}

.case-bottom {
    position: absolute;
    /* top: 80vh; */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    background-color: #141516;
}

@keyframes transition-top {
    0% { height: 20vh; }
    50% { height: 30vh; }
    75% { height: 30vh; }
    100% { height: 0; }
}

.class-transition-top {
    animation-name: transition-top;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes reverse-transition-top {
    0% { height: 0; }
    50% { height: 30vh; }
    100% { height: 20vh; }
}

.class-reverse-transition-top {
    animation-name: reverse-transition-top;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes transition-right {
    0% { left: 55%; }
    100% { left: 100%; }
}

.class-transition-right {
    animation-name: transition-right;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes reverse-transition-right {
    0% { left: 100%; }
    50% { left: 40%; }
    100% { left: 55%; }
}

.class-reverse-transition-right {
    animation-name: reverse-transition-right;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    transition: all 5s ease;
}

@keyframes transition-bottom {
    0% { height: 20vh; }
    50% { height: 30vh; }
    100% { height: 0; }
}

.class-transition-bottom {
    animation-name: transition-bottom;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes reverse-transition-bottom {
    0% { height: 0; }
    50% { height: 30vh; }
    100% { height: 20vh; }
}

.class-reverse-transition-bottom {
    animation-name: reverse-transition-bottom;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.case h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    font-size: 6rem;
    font-family: var(--font13);
    text-transform: uppercase;
    margin: 0;
    transition: opacity 1s ease;
    z-index: 5;

    opacity: 0;
}

.line {
    position: absolute;
    left: 58%;
    top: 75vh;
    width: 2rem;
    height: 2px;
    border: 0;
    background-color: var(--teal);
    transition: opacity 1.5s ease;

    opacity: 0;
}

.discover {
    overflow: hidden;
    position: absolute;
    left: calc(58% + 3rem);
    top: 75vh;
    transform: translateY(-50%);
    border: 0;
    border-radius: 50%;
    transition: opacity 1.5s ease;

    opacity: 0;
}

.discoverA {
    transition: all 0.5s ease;
}

.discover a {
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 1.5rem;
    text-align: center;
}

.discover a:hover {
    text-decoration: none;
}

.discover a:hover .discover-contents {
    transition: all 0.8s ease;
    transform: translateY(-1.5rem);
}

.parallax {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#sec-1 {
    background-image: url('../images/car.jpg');
}

#sec-2 {
    background-image: url('../images/internship6.jpg');
}

#sec-3 {
    background-image: url('../images/project2.jpg');
}

#sec-4 {
    background-image: url('../images/car5.jpg');
}

.work-list {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 4rem;
    transform: translateX(-50%);
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 5;
}

.work-list li {
    display: inline-block;
    margin: 0 2.5rem;
}

.dummy {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.text-content {
    display: none;
}

.scroll {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 4rem;
    transform: translateX(-50%);
    padding: 0;
    z-index: 2;
    font-size: 2.5rem;
    width: 1.8rem;
    height: 1.3rem;
}

.arrow-down-1 {
    position: absolute;
    width: 1rem;
    height: 0.1rem;
    transform: rotate(-35deg) translateX(48%);
    background-color: #fff;
    top: 0.65rem;
    left: 0.4rem;
}

.arrow-down-2 {
    position: absolute;
    width: 1rem;
    height: 0.1rem;
    transform: rotate(35deg) translateX(-48%);
    background-color: #fff;
    top: 0.65rem;
    left: 0.4rem;
}

.arrow-down-3 {
    position: absolute;
    top: 1.15rem;
    left: 0.4rem;
    width: 1rem;
    height: 0.1rem;
    transform: rotate(-35deg) translateX(48%);
    background-color: #fff;
}

.arrow-down-4 {
    position: absolute;
    top: 1.15rem;
    left: 0.4rem;
    width: 1rem;
    height: 0.1rem;
    transform: rotate(35deg) translateX(-48%);
    background-color: #fff;
}

.dummy-cover {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #141516;
    transition: height 0.5s ease;
}

.sec-content {
    padding-bottom: 1rem;
}

.odd {
    background-color: #070809;
}

.even {
    background-color: #141516;
}

.sec-content .container {
    text-align: justify;
    line-height: 2;
    letter-spacing: 1px;
}

.sec-content img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.sec-content h3 {
    padding: 3rem 0 1rem 0;
}

.sec-content img.float-left {
    margin: 0.75rem 0.75rem 0 0;
}

.sec-content img.float-right {
    margin: 0.75rem 0 0 0.75rem;
}

footer {
    position: fixed;
    bottom: 2.5rem;
}

footer a {
    color: var(--teal);
    margin-left: 2rem;
    text-decoration: none;
}

footer a:hover {
    text-decoration: none;
}
